---
import TrendingAside from "@/components/news/TrendingAside";
import WhoToFollow from "@/components/news/WhoToFollow";
---

<aside
  class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block"
>
  <div
    dir="ltr"
    class="relative h-full overflow-hidden py-6 pr-6 lg:py-8"
    style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;"
  >
    <style>
      [data-radix-scroll-area-viewport] {
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
      }
      [data-radix-scroll-area-viewport]::-webkit-scrollbar {
        display: none;
      }
    </style>
    <div
      data-radix-scroll-area-viewport=""
      class="h-full w-full rounded-[inherit]"
      style="overflow: hidden scroll;"
    >
      <div style="min-width: 100%; display: table;">
        <!-- Recommended Stories -->
        <div class="w-full">
          <TrendingAside />
          <WhoToFollow />
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
</aside>
