<div class=":p-4">
  <div
    class="flex min-h-[360px] 
    flex-col gap-6 bg-cover bg-center bg-no-repeat rounded-lg items-start justify-end px-4 pb-10 sm:px-10"
    style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://cdn.usegalileo.ai/stability/604e4a89-6409-4b10-9b7a-8df5f7207a6a.png");'
  >
    <h1
      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] sm:text-5xl sm:leading-tight text-center"
    >
      Artificial intelligence: Is it the future of art?
    </h1>
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 sm:h-12 sm:px-5 bg-[#F4C753] text-[#141C24] text-sm font-bold leading-normal tracking-[0.015em] sm:text-base sm:font-bold"
    >
      <span class="truncate">Read more</span>
    </button>
  </div>
</div>

