<div class="hidden text-sm xl:block">
  <div class="sticky top-16 -mt-10 h-[calc(100vh-3.5rem)] pt-4">
    <div
      class="relative overflow-hidden h-full pb-10"
      style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;"
    >
      <style>
        [data-radix-scroll-area-viewport] {
          scrollbar-width: none;
          -ms-overflow-style: none;
          -webkit-overflow-scrolling: touch;
        }
        [data-radix-scroll-area-viewport]::-webkit-scrollbar {
          display: none;
        }
      </style><div
        data-radix-scroll-area-viewport=""
        class="h-full w-full rounded-[inherit]"
        style="overflow: hidden scroll;"
      >
        <div style="min-width: 100%; display: table;">
          <!-- <div class="space-y-2">
            <p class="font-medium">Index</p><ul class="m-0 list-none">
              <li class="mt-0 pt-2">
                <a
                  href="#utility-classes"
                  class="inline-block no-underline transition-colors hover:text-foreground text-muted-foreground"
                  >Utility classes</a>
              </li><li class="mt-0 pt-2">
                <a
                  href="#css-variables"
                  class="inline-block no-underline transition-colors hover:text-foreground text-muted-foreground"
                  >CSS Variables</a
                ><ul class="m-0 list-none pl-4">
                  <li class="mt-0 pt-2">
                    <a
                      href="#convention"
                      class="inline-block no-underline transition-colors hover:text-foreground text-muted-foreground"
                      >Convention</a>
                  </li><li class="mt-0 pt-2">
                    <a
                      href="#list-of-variables"
                      class="inline-block no-underline transition-colors hover:text-foreground text-muted-foreground"
                      >List of variables</a>
                  </li><li class="mt-0 pt-2">
                    <a
                      href="#adding-new-colors"
                      class="inline-block no-underline transition-colors hover:text-foreground text-muted-foreground"
                      >Adding new colors</a>
                  </li><li class="mt-0 pt-2">
                    <a
                      href="#other-color-formats"
                      class="inline-block no-underline transition-colors hover:text-foreground text-muted-foreground"
                      >Other color formats</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div> -->
          
          
          <div
            class="group relative flex flex-col gap-2 rounded-lg border p-4 text-sm mt-6 max-w-[80%]"
          >
            <div
              class="text-balance text-lg font-semibold leading-tight group-hover:underline"
            >
              Bring your app built with shadcn to life on Vercel
            </div><div>
              Trusted by OpenAI, Sonos, Chick-fil-A, and more.
            </div><div>
              Vercel provides tools and infrastructure to deploy apps and
              features at scale.
            </div><button
              class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow dark:shadow hover:bg-primary/90 h-8 rounded-md px-3 text-xs mt-2 w-fit"
              >Deploy Now</button
            ><a
              target="_blank"
              rel="noreferrer"
              class="absolute inset-0"
              href="https://vercel.com/new?utm_source=shadcn_site&utm_medium=web&utm_campaign=docs_cta_deploy_now_callout"
              ><span class="sr-only">Deploy to Vercel</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
