---
import FireIcon from '@/components/icons/FireIcon'
---

<div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap justify-between gap-3 p-4">
      <div class="flex min-w-72 flex-col gap-3">
        <p class="text-4xl font-black leading-tight tracking-[-0.033em]">Laatste AI  Nieuws - Bits, bytes en briljante breakthroughs!</p>
        <p class="text-base font-normal leading-normal">Het platform waar machines leren en mensen zich verbazen </p>
      </div>
    </div>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
          style='background-image: url("https://cdn.usegalileo.ai/sdxl10/46e6b1a4-1a8b-4d2e-a98b-78308b0621fa.png");'
        ></div>
        <div>
          <p class=" text-base font-medium leading-normal">OpenAI launches new GPT-4</p>

          <p class="flex items-center text-xs font-normal leading-normal">
          2 dagen geleden -  <FireIcon /> 3 min
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
          style='background-image: url("https://cdn.usegalileo.ai/sdxl10/3218b8fb-d90d-481d-b6aa-48f5613ce3ed.png");'
        ></div>
        <div>
          <p class=" text-base font-medium leading-normal">DeepMind's AlphaFold 2 wins protein folding competition</p>
          <p class=" text-sm font-normal leading-normal">5 days ago - 5 min read</p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
          style='background-image: url("https://cdn.usegalileo.ai/sdxl10/b075add0-0b4f-4a3a-ba28-c18ac589cd93.png");'
        ></div>
        <div>
          <p class=" text-base font-medium leading-normal">Google Duplex now available for personal use</p>
          <p class="text-sm font-normal leading-normal">1 week ago - 2 min read</p>
        </div>
      </div>

      
    </div>
    
  </div>