---
import { CATEGORIES } from '../../content/categories';
import Category from './Category.astro';

const { activeCategory } = Astro.props;
const sortedCategories = [...CATEGORIES].sort((a, b) => a.name.localeCompare(b.name));
---

<div class='relative flex flex-wrap min-w-full gap-5 pt-4 pb-10 justify-center items-center'>
	<Category name="Nieuw" activeCategory={activeCategory} />
	{
		sortedCategories.map((category) => (
			<Category name={category.name} activeCategory={activeCategory} />
		))
	}

	<div class='hidden sm:block absolute w-full bottom-0 border-b-2 -z-40 dark:border-gray-600'></div>
</div>
