---
import { CATEGORIES } from '@/data/categories';
import Category from './Category.astro';

const { activeCategory } = Astro.props;
---

<div class='relative flex flex-wrap min-w-full gap-5 pt-10 pb-10'>
	<Category name="View All" activeCategory={activeCategory} />
	{
		CATEGORIES.map((category) => (
			<Category name={category.name} activeCategory={activeCategory} />
		))
	}

	<div class='hidden sm:block absolute w-full bottom-0 border-b-2 -z-40 dark:border-gray-600'></div>
</div>