  <div class="flex items-center gap-4  px-4 min-h-[72px] py-2 justify-between">
    <div class="flex items-center gap-4">
      <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/068d93d0-27bb-4dbd-bfcf-4bcc06388a42.png");'
      ></div>
      <div class="flex flex-col justify-center">
        <p class="text-base font-medium leading-normal line-clamp-1">Introducing the AI News beta</p>
        <p class="text-[#e3ac47] text-sm font-normal leading-normal line-clamp-2">By The AI News Staff 2 min read</p>
      </div>
    </div>
    <div class="shrink-0">
      <div class="flex size-7 items-center justify-center" data-icon="DotsThree" data-size="24px" data-weight="regular">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
          <path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Z"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="flex items-center gap-4  px-4 min-h-[72px] py-2 justify-between">
    <div class="flex items-center gap-4">
      <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/1988d381-7a6e-4c7a-b71c-f25909baa36a.png");'
      ></div>
      <div class="flex flex-col justify-center">
        <p class="text-base font-medium leading-normal line-clamp-1">The future of AI and journalism</p>
        <p class="text-[#e3ac47] text-sm font-normal leading-normal line-clamp-2">By The AI News Staff 2 min read</p>
      </div>
    </div>
    <div class="shrink-0">
      <div class="flex size-7 items-center justify-center" data-icon="DotsThree" data-size="24px" data-weight="regular">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
          <path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Z"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="flex items-center gap-4  px-4 min-h-[72px] py-2 justify-between">
    <div class="flex items-center gap-4">
      <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/3ff11df1-c8e4-4372-a8cf-665c4cdd9e9c.png");'
      ></div>
      <div class="flex flex-col justify-center">
        <p class="text-base font-medium leading-normal line-clamp-1">How AI is revolutionizing news writing</p>
        <p class="text-[#e3ac47] text-sm font-normal leading-normal line-clamp-2">By The AI News Staff 2 min read</p>
      </div>
    </div>
    <div class="shrink-0">
      <div class="flex size-7 items-center justify-center" data-icon="DotsThree" data-size="24px" data-weight="regular">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
          <path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Zm56-12a12,12,0,1,0,12,12A12,12,0,0,0,196,116ZM60,116a12,12,0,1,0,12,12A12,12,0,0,0,60,116Z"></path>
        </svg>
      </div>
    </div>
  </div>

