<div class="flex flex-col">
    <h3 class="text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">AI Prominenten</h3>
    <div class="flex items-center gap-4 px-4 min-h-[72px] py-2">
      <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
        style='background-image: url("https://cdn.usegalileo.ai/stability/a7e912a9-74f0-4e88-b25b-a31214a78177.png");'
      ></div>
      <div class="flex flex-col justify-center">
        <p class="text-sm font-medium leading-normal line-clamp-1">John Doe</p>
        <p class="text-[#A18249] text-xs font-normal leading-normal line-clamp-2">@johndoe • AI Researcher</p>
      </div>
    </div>
   
  </div>