<div class="space-y-2">
    <p class="font-medium">On This Page</p>
    <ul class="m-0 list-none">
      <li class="mt-0 pt-2"><a href="#installation" class="hover:text-foreground text-foreground inline-block font-medium no-underline transition-colors">Installation</a></li>
      <li class="mt-0 pt-2"><a href="#usage" class="hover:text-foreground text-muted-foreground inline-block no-underline transition-colors">Usage</a></li>
      <li class="mt-0 pt-2">
        <a href="#examples" class="hover:text-foreground text-muted-foreground inline-block no-underline transition-colors">Examples</a>
        <ul class="m-0 list-none pl-4">
          <li class="mt-0 pt-2"><a href="#default" class="hover:text-foreground text-muted-foreground inline-block no-underline transition-colors">Default</a></li>
          <li class="mt-0 pt-2"><a href="#destructive" class="hover:text-foreground text-muted-foreground inline-block no-underline transition-colors">Destructive</a></li>
        </ul>
      </li>
    </ul>
  </div>